body {
  &::after {
    @include transition(
        opacity $speed $ease,
        height 0s $ease $speed
    );
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-above;
    width: 100%;
    height: 0;
    background-color: $charcoal;
    opacity: 0;
  }
  &.overlay-is-active {
    @include transition(background-color 0 $ease);
    background-color: $charcoal;
    overflow: hidden;
  }

  &.topbar-is-open,
  &.overlay-is-active,
  &.popupbar-is-open {
    overflow: hidden;

    // This is a fix for the modal bug in iOS 11.
    // See: https://hackernoon.com/how-to-fix-the-ios-11-input-element-in-fixed-modals-bug-aaf66c7ba3f8
    // Using position: fixed on body-element seems to work. !important is
    // currently used because the body element is styled inline with
    // position: relative;
    // width: 100% ensures that everything looks normal, when the fix is applied.
    position: fixed !important;
    width: 100%;

    &::after {
      @include transition(
          opacity $speed $ease,
          height 0s $ease
      );
      height: 100%;
      opacity: 0.5;
    }
  }

  // ==========================================================================
  // Search overlay
  // ==========================================================================

  .search-overlay--wrapper {
    position: fixed;
    z-index: $z-overlay;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $charcoal-opacity-dark;
    display: block;
    .search-overlay--inner {
      transform: translate(-167px, 105px);
      position: absolute;
      left: 50%;
      top: 50%;
      padding: 30px 100px 20px;
      background-color: $color-primary;
      text-align: center;
    }
    .icon-spinner {
      position: relative;
      display: block;
      width: 84px;
      height: 84px;
      margin: 0 auto 20px;
      &::after {
        animation: spin 2s linear infinite;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/spinner.png');
        background-size: 100% auto;
      }
    }
    .search-overlay--text {
      color: $white;
      margin-bottom: 15px;
    }
    .cancel {
      margin-bottom: 0;
      a {
        color: $charcoal-opacity-dark;
      }
    }
  }

}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.html .ding-campaign-wrapper img.ding-campaign-image {
  display: block;
  width: 100%;
  height: auto;
}