
.ding_nodelist {
  &.ding_nodelist-carousel {
    .event-image {
      .replaced-event-image,
      img {
        @media #{$tablet}, #{$wide}, #{$normal} {
        display: block;
        top: 0;
        bottom: 0;
        position: relative;
        margin-top: auto;
        margin-bottom: auto;
        background-position: center center;
        }
        background-position: center center;
      }
    }

    .event-day {
      font-family: $font-family-bolder;
    }
  }

  .library a, span {
    font-family: $font-family-bolder;
  }

  span.item-library {
    visibility: hidden;
    display: none;
  }

 &.ding_nodelist-taxonomy {
     .item .item-details {
       top: -5px;
     }
  }

  .more,
  .news-link.more-link {
    background: transparent;
    a {
      text-decoration: underline;
    }
  }

  .ding_nodelist-items .item-body {
    clear: both;
    display: block;
  }
}
