
.ding_nodelist {
  &.ding_nodelist-carousel {
    .event-image {
      .replaced-event-image,
      img {
        width: 100%;
        height: auto;
        padding-bottom: 75%;
      }
    }

    .event-day {
      font-family: $font-family-bolder;
    }
  }

  .library a, span {
    font-family: $font-family-bolder;
  }

  span.item-library {
    visibility: hidden;
    display: none;
  }

 &.ding_nodelist-taxonomy {
     .item .item-details {
       top: -5px;
     }
  }

  .more,
  .news-link.more-link {
    background: transparent;
    a {
      text-decoration: underline;
    }
  }

  .ding_nodelist-items .item-body {
    clear: both;
    display: block;
  }
}

.col-md-4 .ding_nodelist-taxonomy {
  .item-list-image {
    display: none;
  }
}
